<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.wst.sse.ui.completionProposal">
    <proposalComputer
        activate="true"
        categoryId="org.eclipse.wst.html.ui.proposalCategory.htmlTags"
        class="ru.chikuyonok.wtp.sugar.FileCompletionProposalComputer"
        id="ru.chikuyonok.wtp.sugar.contentassist.html">
      <contentType id="org.eclipse.wst.html.core.htmlsource">
        <partitionType id="org.eclipse.wst.html.HTML_DEFAULT">
        </partitionType>
      </contentType>
    </proposalComputer>

    <proposalComputerExtendedActivation
        id="ru.chikuyonok.wtp.sugar.contentassist.html">
      <contentType id="org.eclipse.jst.jsp.core.jspsource">
        <partitionType id="org.eclipse.wst.html.HTML_DEFAULT">
        </partitionType>
        <partitionType id="org.eclipse.wst.html.HTML_COMMENT">
        </partitionType>
        <partitionType id="org.eclipse.wst.sse.ST_DEFAULT">
        </partitionType>
        <partitionType id="org.eclipse.jst.jsp.JSP_COMMENT">
        </partitionType>
        <partitionType id="org.eclipse.jst.jsp.JSP_DIRECTIVE">
        </partitionType>
      </contentType>
    </proposalComputerExtendedActivation>

    <proposalComputer
        activate="true"
        categoryId="org.eclipse.wst.css.ui.proposalCategory.css"
        class="ru.chikuyonok.wtp.sugar.CSSCompletionProposalComputer"
        id="ru.chikuyonok.wtp.sugar.contentassist.css">
      <contentType id="org.eclipse.wst.css.core.csssource">
      </contentType>
    </proposalComputer>
  </extension>

  <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
    <quickOutlineConfiguration
        class="ru.chikuyonok.wtp.sugar.quickoutline.HTMLQuickOutlineConfiguration"
        target="org.eclipse.wst.html.core.htmlsource.source">
    </quickOutlineConfiguration>
    <contentOutlineConfiguration
        class="ru.chikuyonok.wtp.sugar.contentoutline.XSLContentOutlineConfiguration"
        target="org.eclipse.wst.xsl.ui.internal.editor.XSLEditor">
    </contentOutlineConfiguration>
    <quickOutlineConfiguration
        class="ru.chikuyonok.wtp.sugar.quickoutline.XSLQuickOutlineConfiguration"
        target="org.eclipse.wst.xsl.ui.internal.editor.XSLEditor">
    </quickOutlineConfiguration>
  </extension>

  <extension point="org.eclipse.ui.propertyPages">
    <page
        class="ru.chikuyonok.wtp.sugar.properties.DocumentRootPropertyPage"
        id="ru.chikuyonok.wtp.sugar.properties.documentRootPropertyPage"
        name="Document root"
        nameFilter="*">
      <enabledWhen>
        <instanceof value="org.eclipse.core.resources.IProject">
        </instanceof>
      </enabledWhen>
    </page>
  </extension>
</plugin>
